.container{
    height:375px;
    position: relative;
    border: 3px solid green;
}

.buttonatas{
      background-color: rgb(186, 250, 9);
      color : black;
      border: 5px solid #04AA6D;
      padding:10px;   
      width: 140px;
      position: relative;
  }

.buttonatas:hover {background-color: #3e8e41}

.buttonatas:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonkiri{
    background-color:brown;
    color: white;
    border: 5px solid #04AA6D;
    padding: 10px;
    width:140px;
}

.buttonkiri:hover{background-color:rgb(253, 145, 4)}

.buttonkiri:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonbawah{
      background-color:brown;
      color: white;
      border: 5px solid #04AA6D;
      padding: 10px;
      width:140px;
  }

.buttonbawah:hover{background-color:rgb(253, 145, 4)}

.buttonbawah:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .buttonkanan{
    background-color:brown;
    color: white;
    border: 5px solid #04AA6D;
    padding: 10px;
    width:140px;
}

.buttonkanan:hover{background-color:rgb(253, 145, 4)}

.buttonkanan:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.buttona{
    background-color:rgb(0, 215, 243);
    color: white;
    border: 5px solid #04AA6D;
    padding: 10px;
    width:140px;
}

.buttona:hover{background-color:rgb(42, 78, 145)}

.buttona:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonb{
    background-color:rgb(0, 215, 243);
    color: white;
    border: 5px solid #04AA6D;
    padding: 10px;
    width:140px;
}

.buttonb:hover{background-color:rgb(42, 78, 145)}

.buttonb:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

  .biodata {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgba(223, 133, 29, 0.637);
      color: rgb(0, 0, 0);
      text-align: right;
  }